::-webkit-input-placeholder, /* WebKit, Blink, Edge */
::-moz-placeholder, /* Mozilla Firefox 19+ */
:-ms-input-placeholder, /* Internet Explorer 10-11 */
::-ms-input-placeholder{ /* Microsoft Edge */
  color:#fff;
}

.fscf-div-form {
  max-width: 250px;
}
.fscf-div-form,
.fscf-div-form p,
.fscf-div-form label {
  color: #fff;
  font-size:  16px;
}

/* Hide labels */
.fscf-label {
  display: none;
}

/* Text fields */
.fscf-div-form input[type="text"],
.fscf-div-form select {
  background-color: transparent;
  border: solid 2px #fff;
  border-radius: 8px;
  line-height: 30px;
  color: #000;
  padding: 0 8px;
  margin: 8px 0;
  width: 100%;
  font-size:  16px;
}

/* Radio button */

#fscf_div_field1_7 .fscf-div-field {
  margin-bottom: 25px;
}

/* Select */
#fscf_div_field1_6 select {
  width: 100%;
  display: block;
  height: 30px;
  margin: 8px 0;
}

/* Multi checkboxes */
.fscf-div-form #fscf_div_clear1_5 {
  border: solid 2px #fff;
  border-radius: 8px;
  padding:  10px;
  margin: 8px 0;
  width: 100%;
}
  .fscf-div-form #fscf_div_clear1_5 .fscf-div-field {
    margin-top: 16px;
  }
    .fscf-div-form #fscf_div_clear1_5 .fscf-div-field > span {
      margin-bottom: 16px;
      font-size: 16px;
      display: inline-block;
    }

/* Submit button */

.fscf-div-form input[type="submit"] {
  line-height: 30px;
  border: none;
  margin: 8px 0;
  border-radius: 8px;
  background: #fff;
  padding: 8px 12px;
  font-size: 16px;
  color: #05d57d;
  font-weight: normal;
}

/* Temporary hide */
#fscf_div_clear1_6 {
  display: none;
}